{% extends "main.html" %}

{% block title %}Privacy Policy{% endblock %}
{% block styles %}
<style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            line-height: 1.6;
            background-color: #f9f9f9;
            color: #333;
        }
        .container_privacy {
            width: 80%;
            max-width: 900px;
            margin: 20px auto;
            background: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            color: #305DAB;
        }
        h2 {
            color: #333;
            border-bottom: 2px solid #305DAB;
            padding-bottom: 5px;
        }
        p {
            margin: 10px 0;
        }
        a {
            color: #305DAB;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container_privacy">
        <h1>Privacy Policy</h1>
        <h2>1. Introduction</h2>
        <p>Welcome to Online Bararan! We respect your privacy and are committed to protecting it. This Privacy Policy explains our practices regarding user data.</p>

        <h2>2. Information Collection</h2>
        <p>We do not collect any personal information or data from users of our application.</p>

        <h2>3. Use of Information</h2>
        <p>Since we do not collect any user data, we do not use or process any personal information.</p>

        <h2>4. Disclosure of Information</h2>
        <p>As we do not collect any user data, we do not disclose any personal information to third parties.</p>

        <h2>5. Data Security</h2>
        <p>While we do not collect any personal data, we are committed to ensuring that our application is secure and does not compromise your privacy.</p>

        <h2>6. Data Retention</h2>
        <p>As we do not collect any user data, there is no data retention policy applicable.</p>

        <h2>7. Your Rights</h2>
        <p>Since we do not collect any personal data, there are no rights to access, correct, or delete data. If you have any concerns, please contact us.</p>

        <h2>8. Changes to the Privacy Policy</h2>
        <p>We may update this Privacy Policy from time to time to reflect changes in our practices. We will notify you of any changes by posting the new Policy on our website and indicating the date of the latest update.</p>

        <h2>9. Contact Us</h2>
        <p>If you have any questions or suggestions about our Privacy Policy, please contact us at: <a href="https://www.facebook.com/groups/536723618677430" target="_blank">FaceBook</a>.</p>

        <p>Last updated: 16.07.2024</p>
    </div>
{% endblock %}