<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
            padding: 50px;
        }
        h1 {
            font-size: 3em;
            color: #555;
        }
        p {
            font-size: 1.2em;
            color: #777;
        }
    </style>
</head>
<body>
    <h1>
        {% block error_title %}{% endblock %}
    </h1>
    <p>
        {% block error_desc %}{% endblock %}
    </p>
</body>
</html>