{% extends "grammar_checker_templates/grammar_checker_form.html" %}

{% block grammar_checker_scripts %}
<script>
        function redirectToPage() {
            var selectElement = document.getElementById("tools");
            var selectedOption = selectElement.options[selectElement.selectedIndex].value;
            window.location.href = selectedOption;
        }

        document.addEventListener('DOMContentLoaded', function() {
            updateErrorHandlers();
            updateSuggestionHandlers();
        });

        function updateErrorHandlers() {
            let errors = document.querySelectorAll('.error');
            errors.forEach(errorDiv => {
                errorDiv.addEventListener('click', function() {
                    let suggestionsDiv = errorDiv.nextElementSibling;
                    suggestionsDiv.style.display = 'block';
                });
            });
        }

        function updateSuggestionHandlers() {
            let suggestions = document.querySelectorAll('.suggestion');
            suggestions.forEach(suggestionSpan => {
                suggestionSpan.addEventListener('click', function() {
                    let userText = document.getElementById('user_text');
                    let text = userText.value;
                    let selectedError = this.closest('.suggestions').previousElementSibling;
                    let errorText = selectedError.getAttribute('data-error');
                    text = text.replace(errorText, suggestionSpan.textContent);
                    userText.value = text;

                    selectedError.nextElementSibling.remove();
                    selectedError.remove();
                });
            });
        }
    </script>
{% endblock %}

{% block user_text %}{{ content["user_text"] }}{% endblock %}

{% block error %}
    <div class="error-container">
        {% if unknown_words %}
            {% for error, suggestions in content["unknown_words"].items() %}
                <div class="error" data-error="{{ error }}">{{ error }}</div>
                <div class="suggestions" style="display: none;">
                    {% if suggestions %}
                        {% for suggestion in suggestions %}
                            <span class="suggestion">{{ suggestion }}</span>
                        {% endfor %}
                    {% else %}
                        <span>Անհայտ բառ</span>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div>
                <p style="color: green;">
                    Տեքստում սխալներ չեն հայտնաբերվել
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}