{% extends "main.html" %}

{% block title %}ուղղագրության ստուգում{% endblock %}

{% block content %}
    <div class="content">
        <div>
            <h1>ուղղագրության ստուգում</h1>
            <p>Քերականական սխալների ուղղիչի օգնությամբ դուք կարող եք հեշտությամբ գտնել և ուղղել ձեր տեքստի մեջ
               գտնվող սխալները,<br>պարզապես անհրաժեշտ է մուտքագրել տեքստը ստորև նշված դաշտում և սեղմել «Ստուգել» կոճակը:</p>
        </div>
        <div class="grammar_checker">
            {% block form %}
                <div>
                    <form action="/grammar_checker" method="post">
                        <div class="textarea-container">
                            <textarea name="user_text" id="user_text" cols="70" rows="20" minlength="1" maxlength="150" required>{% block user_text %}{% endblock %}</textarea>
                        </div>
                        <div class="button-container">
                            <button type="submit">ստուգել</button>
                        </div>
                    </form>
                </div>
            {% endblock %}
            {% block error %}
                <div class="error-container"></div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <link rel="icon" type="image/png" href="/static/img/icon-library.png">-->
<!--    <link rel="stylesheet" href="/static/styles/styles.css">-->
<!--    <title>ուղղագրության ստուգում</title>-->
<!--    <script>-->
<!--        function redirectToPage() {-->
<!--            var selectElement = document.getElementById("tools");-->
<!--            var selectedOption = selectElement.options[selectElement.selectedIndex].value;-->
<!--            window.location.href = selectedOption;-->
<!--        }-->
<!--    </script>-->
<!--</head>-->
<!--<body>-->
<!--    <header class="container_with_bg">-->
<!--        <div class="header-content">-->
<!--            <h2><a href="/"><img src="/static/img/icon-library-128.png" alt="icon">Հայերեն առցանց բառարան</a></h2>-->
<!--        </div>-->
<!--        <div class="container">-->
<!--            <select id="tools" name="tools" onchange="redirectToPage()">-->
<!--                <option value="">Ընտրեք գործիքը...</option>-->
<!--                <option value="/grammar_checker">ուղղագրիչ</option>-->
<!--            </select>-->
<!--        </div>-->
<!--    </header>-->
<!--</body>-->
<!--</html>-->
